body{
    background-color: blanchedalmond;
} */
/* navigation */
#navbar{
    flex-direction: column;
}
#logo img{ 
    display: flex;
    justify-content: center;
}
/* home */
.bg1{
    flex-direction: column;
    flex-wrap: wrap ;
}


/* sevices */
#Secondary{
    flex-direction: column;
    font-size: 0.5rem;
}


/* clinets */



/* form